.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-wrapper {
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}