.Header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 0% 2%;
  background-color: #5156e2;
  font-family: "Archivo Black", sans-serif;
  height: 10vh;
}

.nav-functions > a {
  color: #fffaf7;
  font-family: "Space Mono", monospace;
  font-style: italic;
  position: relative;
}
.app-title > a {
  color: #fffaf7;
  font-size: 2rem;
  position: relative;
}
.nav-functions {
  display: flex;
  justify-content: space-evenly;
  width: 68%;
  font-size: 1.25rem;
}
.app-title {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.nav-functions > a:before {
  content: "";
  position: absolute;
  width: 99%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fffaf7;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-functions > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.app-title > a:before {
  content: "";
  position: absolute;
  width: 99%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fffaf7;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.app-title > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media only screen and (max-width: 650px) {
  .Header {
    padding: 0 1%;
  }
  .nav-functions > a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .app-title > a {
    font-size: 1.1rem;
  }
}
