.message-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
  font-family: 'Space Mono', monospace;
  font-style: italic;
}
.message {
  text-align: left;
  padding: 2%
}
.message-content {
  padding-top: 2%;
  font-size: 1.2rem;
}

.message-date {
  text-align: right;
}

.message-author {
  text-align: left;
}

@media only screen and (max-width: 550px) {
  .message-content {
    font-size: 1rem;
  }
  .message-details {
    font-size: .7rem;
  }
  .message-content {
    padding-top: 4%;
  }
}